{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soluções Matemáticas</title>
    <link rel="stylesheet" href="{% static 'indexs.css' %}">
</head>

<body>

<div class="container">
    <div class="title">Soluções Matemáticas</div>
    <div class="icons">
        <div class="icon red">+</div>
        <div class="icon black">−</div>
        <div class="icon red">×</div>
        <div class="icon black">÷</div>
    </div>
    <a class="a" href="{% url 'telaInicial' %}">Entrar</a>
</div>

</body>
</html>