{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha</title>
  <link rel="stylesheet" href="{% static 'mudarsenha.css' %}">
  
</head>
<body>
  <div class="container">
    <h1>Esqueci a senha</h1>
    <form action="{% url 'mudarsenha' %}" method="POST">{% csrf_token %}
      <input type="text" placeholder="Digite o seu usuário" name="usuario">
      <input type="password" placeholder="Digite a nova senha" name="password">
      <input type="password" placeholder="Repita a nova senha" name="password2">
      <button type="submit">Entrar</button>
      {% if verificacao3 %}
        <p>O usuario nao existe</p>
        {% endif %}
        {% if v %}
            <p>A senhas não são iguais</p>
        {% endif %}
    </form>
  </div>
</body>
</html>