{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <title>POLINOMIO</title>
    <script type="text/javascript"
  src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  <div class="navbar">
    <a href="{% url 'telaInicial' %}">
    <div class="left-icons">
      <div class="icon add">+</div>
      <div class="icon subtract">−</div>
      <div class="icon multiply">×</div>
      <div class="icon divide">÷</div>
    </div>
    </a>

    <div class="divider"></div>

    <div class="right-icons">
      <form action="{% url 'telaInicial' %}" method="POST">{% csrf_token %}
        <button class="icon logout" name="logout"><i class="fa-solid fa-door-open"></i></button>
      </form>
      <a href="{% url 'register' %}">
      <div class="icon add-user"><i class="fa-solid fa-user"></i></div>
    </a>
    <a href="{% url 'historic' %}">
      <div class="icon history"><i class="fa-solid fa-calendar-days"></i></div>
    </div>
</a>
  </div>
  <div class="container">
    <header>
      <h1>Raízes</h1>
    </header>
    
    <main>
      <div class="input-section">
        <form action="{% url 'raizes' %}" method="post">{% csrf_token %}
          {{mensagem}}
          {% if verificacao %}
              <input type="text" class="input-text" placeholder="{{valor}}" value="{{valor}}" name="polinomio2">
            {% else %}
              <input type="text" class="input-text" name="polinomio2">
            {% endif %}
            {{s}}
            <input type="submit" class="send-button" value="Enviar">
        </form>
      </div>

      <div class="problem-section">
        <h2>Problema:</h2>
        <div class="problem-box" id="problem-box">
          {{s}}
          <p style="margin-right: 100%;">$${{p}}$$</p>

        </div>
      </div>

      <div class="solution-section">
        <h2>Solução:</h2>
        <div class="solution-box" id="solution-box">
          {% if verificacaop%}

   <br>{% for i in r %}
      
      {% if i.imag == 0 %}
        $$ x_{ {{forloop.counter}} }= {{i.real}} $$
        <br>
      {% elif i.real == 0 %}
        $$ x_{ {{forloop.counter}} }= {{i.imag}}j$$
        <br>
      {% else %}
      $$ x_{ {{forloop.counter}} } = {{i}}$$
      {% endif %}
    {% endfor %}</p>
    
  {% endif %}
  <h2>Gráfico:</h2>
  <img style="width: 95%; margin-left: 15px;" src="{% static 'imagens/Pol1.png' %}">
        </div>
      </div>
        



<a href="{% url 'telaInicial' %}">
<button class="back-button">VOLTAR</button>
</a>
    </main>
  </div>

  
    
  
</form>
</body>
</html>